.login-register {
  //color: $web_color_8;
  form {
    max-width: 465px;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 16px;

    label {
      text-transform: uppercase;
    }

    @include media-breakpoint-up(sm) {
      box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
      padding: 25px 30px;
    }
  }
}