h1,h2,h3,h4,h5 {
  font-weight: $weight-normal;
  letter-spacing: 0.5px;
  line-height: 1.2;
}
h1 {
  @include fontSize(46);
  color: $web_color_4;
}

h2 {
  @include fontSize(35);
  color: $web_color_4;
}

h3 {
  @include fontSize(28);
  color: $web_color_4;
}

h4 {
  @include fontSize(22);
  color: $web_color_4;
}

h5 {
  @include fontSize(18);
  color: $web_color_4;
}

p {
  @include fontSize(16);
  color: $web_color_19;
  font-weight: $weight-normal;
  letter-spacing: 0.2px;
  line-height: 1.4;
}